<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="../static/css/intro_index.css" />
    <script src="{{url_for('static',filename='js/intro_index.js')}}"></script>
  </head>
  <body>
    <h1>╰(*°▽°*)╯ 인공지능솔루션 적대적공격 위협분석 AI보안전문가 2회차</h1>
    <div id="main_intro">
      <h2
        style="
          margin-bottom: 3rem;
          text-align: center;
          margin: 1rem 0;
          padding: 1rem 0;
          color: blueviolet;
        "
      >
        적대적 생성공격에 강화된 AI 솔루션 보안을 지원하는 교육
      </h2>
      <div class="content">
        <a href="/page/regression_coin"
          >다중선형회귀분석 실전모델 구현(가상화폐)</a
        >
      </div>
      <div class="content">
        <a>자연어 처리를 위한 실전모델 구현(쇼핑리뷰)</a>
      </div>
    </div>
    <img
      id="mychar"
      src="../static/img/csk.png"
      style="width: 5rem; height: 5rem"
    />
  </body>
</html>
