<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0&icon_names=cancel" />
    <link rel="stylesheet" href="../static/css/intro_index.css" />
    <link rel="stylesheet" href="../static/css/regression_coin.css" />
    <script src="{{url_for('static',filename='js/regression_coin.js')}}"></script>
  </head>
  <body onload="get_coinname()">
    <h1>༼ つ ◕_◕ ༽つ인공지능솔루션 적대적공격 위협분석 AI보안전문가 2회차</h1>
    <div id="main_intro">
      <h2
        style="
          margin-bottom: 3rem;
          text-align: center;
          margin: 1rem 0;
          padding: 1rem 0;
          color: rgb(98, 93, 104);
        "
      >
        다중선형회귀분석 실전모델 구현(가상화폐 빗썸 API 사용)
      </h2>
      <div id="mycontent">
        <legend>분석 정보 입력</legend>
        <div class="con">
          <label for="coinname">코 인 이 름</label>
          <select id="coinname" name="coinname">
            
          </select>
        </div>
        <div class="con">
          <label for="timegap">연속 분석 일수</label>
          <input style="width:16rem" id="timegap" type="number" name="timegap" value="1" />
        </div class="con">
        <div class="con"><button id="anal_btn" style="padding:0.5rem">분석하기</button></div>
      </div>
      <div id="res_contain" style="width: calc(99vw - 1.2rem) ;
      height:calc(99vh - 10rem);
      background:whitesmoke;
      display:none;
      position: fixed;
      overflow-y: auto;">
       
       <span
       style="position: absolute;right: 0.5rem;top: 0.5rem;font-size: 2rem;"
       id="closeBtn"class="material-symbols-outlined">
         cancel
       </span>
      
      
      <div id="anal_data" style="padding: 1rem;"></div>
      
      <div id="result" style="overflow-y: auto;">

      </div>
    </div>
    <div id="loader" style="display:none;position:fixed;top:0;left:0;
    height:99.5vh;background: yellow;opacity: 0.5;width: 99vw"></div>
    <img
      id="mychar"
      src="../static/img/csk.png"
      style="width: 5rem; height: 5rem"
    />
  </body>
</html>
